<%= render partial: 'shared/header', locals: {display_search: true} %>

<section class="sign-up-step sign-up-step-1">
  <div class="container">
    <form class="">
      <div class="row">
        <div class="col-xs-24">
          <div class="col-center">
            <div class="panel panel-default panel-main">
              <div class="heading">
                <h4>Customize Your Profile</h4>
                <p>Add a profile picture and more information so others know more about you.</p>
              </div>

              <div class="sub-heading">
                <h5>About Yourself</h5>
              </div>

              <div class="content">
                <div class="row">
                  <div class="col-xs-24 col-md-18 col-md-offset-3">
                    <div class="row">
                      <div class="col-xs-20 col-xs-offset-2 col-sm-6 col-sm-offset-2">
                      <div class="profile-option profile-avatar">
                        <div class="avatar">
                          <img src="http://placehold.it/350x350?text=Avatar" class="img-responsive center-block">
                        </div>

                        <a href="" class="btn btn-lg btn-primary btn-block">Upload Photo</a>
                      </div>
                      </div>

                      <div class="col-xs-20 col-xs-offset-2 col-sm-13 col-sm-offset-1">
                        <div class="form-group">
                          <textarea class="form-control about-textarea" rows="8" placeholder="Tell Us Something About Yourself"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sub-heading">
                <h5>About</h5>
              </div>

              <div class="content">
                <div class="row">
                  <div class="col-xs-24 col-sm-24 col-md-12">
                    <div class="profile-option">
                      <h5>Organizations and groups involved</h5>

                      <p>
                        Investors Ruby on Rails Python
                        <a href="#" class="profile-option-action edit-profile-option"><i class="icon-pencil"></i></a>
                        <a href="#" class="profile-option-action delete-profile-option"><i class="icon-close"></i></a>
                      </p>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-xs-15">
                            <input type="text" class="form-control" placeholder="" value="Investors Ruby on Rails Python">
                          </div>
                          <div class="col-xs-3">
                          </div>
                          <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                        </div>
                      </div>

                      <div class="extra-inputs">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-xs-15">
                              <input type="text" class="form-control" placeholder="" value="Investors Ruby on Rails Python">
                            </div>
                            <div class="col-xs-3">
                            </div>
                            <div class="col-xs-6">
                              <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                          </div>
                        </div>

                        <div class="form-group add-more">
                          <button type="submit" class="btn btn-primary">Add More</button>
                        </div>
                      </div>
                    </div>

                    <div class="profile-option">
                      <h5>Occupation</h5>

                      <div class="extra-inputs">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-xs-15">
                              <input type="text" class="form-control" placeholder="" value="Accountant at Xignite Corp">
                            </div>
                            <div class="col-xs-3">
                            </div>
                            <div class="col-xs-6">
                              <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                          </div>
                        </div>

                        <div class="form-group add-more">
                          <button type="submit" class="btn btn-primary">Add More</button>
                        </div>
                      </div>
                    </div>

                    <div class="profile-option">
                      <h5>Education</h5>

                      <div class="extra-inputs">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-xs-10">
                              <label for="">Institution</label>
                              <input type="text" class="form-control" placeholder="" value="Berkely University">
                            </div>
                            <div class="col-xs-4">
                              <label for="">From</label>
                              <input type="text" class="form-control" placeholder="" value="">
                            </div>
                            <div class="col-xs-4">
                              <label for="">To</label>
                              <input type="text" class="form-control" placeholder="" value="">
                            </div>
                            <div class="col-xs-5">
                              <br>
                              <br>
                              <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                          </div>
                        </div>

                        <div class="form-group add-more">
                          <button type="submit" class="btn btn-primary">Add More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-24 col-sm-24 col-md-12">
                    <div class="profile-option">
                      <h5>Location</h5>

                      <div class="extra-inputs">
                        <div class="form-group">
                          <input type="text" class="form-control" id="" placeholder="" value="San Francisco, CA">
                        </div>
                      </div>

                      <br>

                      <img src="http://placehold.it/600x300?text=Map" class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>

              <div class="sub-heading">
                <h5>Investor Info</h5>
              </div>

              <div class="content">
                <div class="row">
                  <div class="col-xs-24 col-sm-24 col-md-8">
                    <h5>Primary Investment Strategy</h5>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Fundamentals
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Technical
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Momentum
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Growth
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="">
                        Value
                      </label>
                    </div>
                  </div>

                  <div class="col-xs-24 col-sm-24 col-md-8">
                    <h5>Average Investment Period</h5>

                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                        Short Term
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Intermediate Term
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                        Long Term
                      </label>
                    </div>
                  </div>

                  <div class="col-xs-24 col-sm-24 col-md-8">
                    <h5>For Experience</h5>

                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                        Beginner
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Intermediate
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                        Advanced
                      </label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-24">
                    <div class="form-buttons">
                      <a href="#">Skip this step</a> <button type="submit" class="btn btn-lg btn-primary">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script>

  $(function () {
    $('.edit-profile-option').on('click', function(e) {
      e.preventDefault();

      $(this).parents('.profile-option').find('p').hide();
      $(this).parents('.profile-option').find('p + .form-group').show();
    });
  });

</script>
