<%= render partial: 'shared/header', locals: {display_search: true} %>

<section class="sign-up-step sign-up-step-2">
  <div class="container">
    <form class="">
      <div class="row">
        <div class="col-xs-24">
          <div class="col-center">
            <div class="panel panel-default panel-main">
              <div class="heading">
                <h4>What Industries Are You Interested In?</h4>
                <p>Selecting industries you are interested in will help us better recommend companies and diversify your portafolio.</p>
              </div>

              <div class="sub-heading">
                <h5>Industries</h5>
              </div>

              <div class="content thumbs-content">
                <div class="row">
                  <div class="col-xs-24">

                    <div class="custom-thumbs">
                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Basic Materials</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Consumer Goods &amp Services</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Energy</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Financial</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Health Care</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Industrial</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Technology</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Utilities</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="sub-heading">
                <h5>Investments Security</h5>
              </div>

              <div class="content thumbs-content">
                <div class="row">
                  <div class="col-xs-24">

                    <div class="custom-thumbs">
                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Bonds</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Forex</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Future</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Metals</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Mutual Funds</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="thumb">
                        <div class="thumb-content">
                          <img src="http://placehold.it/300x150?text=Thumb" class="img-responsive center-block">

                          <span class="thumb-title">Options</span>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">
                              Value
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-24">
                    <div class="form-buttons">
                      <a href="#">Skip this step</a> <button type="submit" class="btn btn-lg btn-primary">Continue</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script>

  $(function () {

    $('.thumb').click(function() {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
        $(this).find('input[type=checkbox]').attr('checked', false);
      } else {
        $(this).addClass('selected');
        $(this).find('input[type=checkbox]').attr('checked', true);
      }
    });

  });

</script>
