<%= render partial: 'shared/header', locals: {display_search: true} %>

<section class="sign-up-step sign-up-step-2">
  <div class="container">
    <form class="">
      <div class="row">
        <div class="col-xs-24">
          <div class="col-center">
            <div class="panel panel-default panel-main">
              <div class="heading">
                <h4>Suggestions for companies to track</h4>
                <p>Tracking companies will provide relevant information to your stream and updates on the latest information.</p>
              </div>

              <hr>

              <div class="content">
                <div class="row">
                  <div class="col-xs-24 col-md-6 col-md-offset-1">

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/ebay.png" class="img-responsive" alt="">
                      </div>

                      <div class="profile-info">
                        <div class="name">Ebay</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/msft.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Microsoft</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/hp.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">HP</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/aa.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Alcoa</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Track</a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/googl.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Google Inc</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Track</a>
                      </div>
                    </div>

                  </div>

                  <div class="col-xs-24 col-md-6 col-md-offset-2">

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/ebay.png" class="img-responsive" alt="">
                      </div>

                      <div class="profile-info">
                        <div class="name">Ebay</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/msft.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Microsoft</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/hp.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">HP</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/aa.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Alcoa</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Track</a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/googl.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Google Inc</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Track</a>
                      </div>
                    </div>

                  </div>

                  <div class="col-xs-24 col-md-6 col-md-offset-2">

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/ebay.png" class="img-responsive" alt="">
                      </div>

                      <div class="profile-info">
                        <div class="name">Ebay</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/msft.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Microsoft</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/hp.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">HP</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary btn-selected btn-following"><span class="following-txt"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Tracking</span> <span class="unfollow-txt"><i class="icon-close"></i> Untrack</span></a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/aa.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Alcoa</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Track</a>
                      </div>
                    </div>

                    <div class="radar-item">
                      <div class="avatar">
                        <img src="/assets/squared-logos/googl.png" class="img-responsive" alt=""/>
                      </div>

                      <div class="profile-info">
                        <div class="name">Google Inc</div>
                        <span class="followers">3293 Followers</span>
                      </div>

                      <div class="actions">
                        <a href="#" class="btn btn-primary"><i class="icon-chevron-right"></i><i class="icon-chevron-right"></i> Track</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<script>

  $(function () {

  });

</script>
