<div class="list-group list-well list-headlines">
  <div class="list-group-item heading">Company News</div>

  <div class="list-group-items">
    <a href="#" class="list-group-item">
      <span class="headline">Headline of Some Article</span>
      <span class="posted"><i>1 hour ago</i></span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <span class="headline">Headline of Some Article</span>
      <span class="posted"><i>7 hours ago</i></span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <span class="headline">Headline of Some Article</span>
      <span class="posted"><i>1 day ago</i></span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <span class="headline">Headline of Some Article</span>
      <span class="posted"><i>2 hour ago</i></span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
  </div>

  <div class="more-headlines">
    <a href="#">see more</a>
  </div>
</div>