<ul class="list-group list-well">
  <li class="list-group-item">
    <div class="pull-right trade up">
      <strong>18,000.54 <span class="symbol icon-chevron-circle-up"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title caps">
      Dow Jones
    </div>
  </li>
  <li class="list-group-item">
    <div class="pull-right trade down">
      <strong>3,500.54 <span class="symbol icon-chevron-circle-down"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title caps">
      S&P 500
    </div>
  </li>
  <li class="list-group-item">
    <div class="pull-right trade up">
      <strong>5,100.47 <span class="symbol icon-chevron-circle-up"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title caps">
      Nasdaq
    </div>
  </li>
</ul>