<div class="list-group list-well list-headlines">
  <div class="list-group-item heading">Market Headlines</div>

  <div class="list-group-items">
    <a href="#" class="list-group-item">
      <img src="/assets/wsj.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/washington_post.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/usa_today.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/time.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/telegraph.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/reuters.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/npr.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/ny_times.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/marketwatch.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/la_times.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/huffington_post.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/fox.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/cnn.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/bbc_uk.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/ap.png" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
    <a href="#" class="list-group-item">
      <img src="/assets/abc_news.jpg" class="img-responsive center-block">
      <span class="headline">Headline of Some Article</span>
      Sample text of article in few lines,
      maximum 2 lines like this maximum 2 lines like
    </a>
  </div>

  <div class="more-headlines">
    <a href="#" class="bb-see-more-news">see more</a>
  </div>

</div>