<ul class="list-group list-well">
  <li class="list-group-item heading">Recommendations</li>

  <li class="list-group-item">
    <div class="box-profile">
      <img src="/assets/avatar.jpg" class="avatar" alt=""/>
      <div class="profile-info">
        <span>Roger<br>Downington JR</span>
        <em>New York (Us)</em>
        <a href="#" class="btn btn-sm btn-primary">Follow</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="box-profile">
      <img src="/assets/avatar.jpg" class="avatar" alt=""/>
      <div class="profile-info">
        <span>Roger<br>Downington JR</span>
        <em>New York (Us)</em>
        <a href="#" class="btn btn-sm btn-primary">Follow</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="box-profile">
      <img src="/assets/avatar.jpg" class="avatar" alt=""/>
      <div class="profile-info">
        <span>Roger<br>Downington JR</span>
        <em>New York (Us)</em>
        <a href="#" class="btn btn-sm btn-primary">Follow</a>
      </div>
    </div>
  </li>
</ul>