<ul class="list-group list-well recommendations_2">
  <li class="list-group-item heading">Recommendations</li>

  <li class="list-group-item">
    <div class="box-profile">
      <img src="/assets/shell-logo.png" class="avatar" alt=""/>
      <div class="profile-info">
        <span class="name">Shell</span>
        <span class="followers">3293 Followers</span>
        <a href="#" class="btn btn-sm btn-primary">Follow</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="box-profile">
      <img src="/assets/mc-donalds-logo.png" class="avatar" alt=""/>
      <div class="profile-info">
        <span class="name">MC Donalds</span>
        <span class="followers">5520 Followers</span>
        <a href="#" class="btn btn-sm btn-primary">Follow</a>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="box-profile">
      <img src="/assets/apple-logo.png" class="avatar" alt=""/>
      <div class="profile-info">
        <span class="name">Apple</span>
        <span class="followers">100k</span>
        <a href="#" class="btn btn-sm btn-primary">Follow</a>
      </div>
    </div>
  </li>
</ul>