<ul class="list-group list-well list-channels">
  <li class="list-group-item heading">Trending Channels</li>

  <li class="list-group-item">
    <a href="#">#PrimeDay</a>
    <span>Lorem ipsum dolor sit amet,</span>
  </li>
  <li class="list-group-item">
    <a href="#">Eurozone</a>
    <span>Lorem ipsum dolor sit amet,</span>
  </li>
  <li class="list-group-item">
    <a href="#">Iran</a>
    <span>Lorem ipsum dolor sit amet,</span>
  </li>
  <li class="list-group-item">
    <a href="#">#Grexit</a>
    <span>Lorem ipsum dolor sit amet,</span>
  </li>
</ul>