<ul class="list-group list-well">
  <li class="list-group-item heading">Radar Stocks</li>

  <li class="list-group-item">
    <div class="pull-right trade up">
      <strong>71.50 <span class="symbol icon-chevron-circle-up"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title">
      Cheniere Energy <br/>
      <span>$LNG</span>
    </div>
  </li>
  <li class="list-group-item">
    <div class="pull-right trade down">
      <strong>71.50 <span class="symbol icon-chevron-circle-down"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title">
      BlackBerry <br/>
      <span>$BBRY</span>
    </div>
  </li>
  <li class="list-group-item">
    <div class="pull-right trade up">
      <strong>71.50 <span class="symbol icon-chevron-circle-up"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title">
      Cheniere Energy <br/>
      <span>$LNG</span>
    </div>
  </li>
  <li class="list-group-item">
    <div class="pull-right trade down">
      <strong>71.50 <span class="symbol icon-chevron-circle-down"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title">
      BlackBerry <br/>
      <span>$BBRY</span>
    </div>
  </li>
  <li class="list-group-item">
    <div class="pull-right trade up">
      <strong>71.50 <span class="symbol icon-chevron-circle-up"></span></strong>
      1.58 (0.81%)
    </div>
    <div class="trade-title">
      Cheniere Energy <br/>
      <span>$LNG</span>
    </div>
  </li>
</ul>