<div class="well well-profile">
  <table class="table">
    <tr class="box-profile">
      <td class="text-right">
        <img src="/assets/avatar.jpg" class="avatar" alt="Profile Image"/></td>
      <td class="profile-info">
        <a href="#" class="btn btn-sm btn-default btn-profile">Edit Profile <span
          class="icon-pencil"></span></a>
        <span>EMMA<br/>Richardson</span>
        <a href="#" class="btn-link">emma.richardson</a>
      </td>
    </tr>
    <tr>
      <td>
        <dl class="dl-horizontal">
          <dt>532</dt>
          <dd>Ideas</dd>
        </dl>
      </td>
      <td>
        <dl class="dl-horizontal">
          <dt>532</dt>
          <dd>Followers</dd>
        </dl>
      </td>
    </tr>
    <tr>
      <td>
        <dl class="dl-horizontal">
          <dt>532</dt>
          <dd>Following</dd>
        </dl>
      </td>
      <td>
        <dl class="dl-horizontal">
          <dt>532</dt>
          <dd>Stocks</dd>
        </dl>
      </td>
    </tr>
  </table>
</div>