<ul class="list-group list-well vital-financial-stats">
  <li class="list-group-item heading">
    Vital Financial Stats
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">EPS</span>
      <span class="value up pull-right">71.50</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">Revenue</span>
      <span class="value up pull-right">3.53B</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">Fwd. P/D</span>
      <span class="value down pull-right">11.52</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">P/S</span>
      <span class="value up pull-right">3.71</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">P/B</span>
      <span class="value down pull-right">6.05</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">PEG</span>
      <span class="value down pull-right">1.31</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">Current Ratio</span>
      <span class="value down pull-right">1.21</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">Debt/Equite</span>
      <span class="value up pull-right">30.51</span>
       <br>
      <br>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">ROA</span>
      <span class="value down pull-right">15.22%</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">ROI</span>
      <span class="value down pull-right">22.22%</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">ROE</span>
      <span class="value up pull-right">32.04%</span>
  </li>
  <li class="stat list-group-item">
      <span class="pull-left">Gross</span>
      <span class="value up pull-right">17.52%</span>
  </li>
</ul>

